.row(style="marginBottom: 20px;")
  form
    .col-sm-6
      button(type="button", onClick=onSave).btn.btn-primary save
    .col-sm-6.text-right
      button(type="button", onClick=onClick).btn.btn-success add
