li(onClick=onClick, class=(isActive ? 'list-group-item-success': ''), style="minHeight: 40;").list-group-item
  span(onClick=onRemove, style="position: absolute; right: 0;").glyphicon.glyphicon-remove-sign
  = text
